<template>
  <div class="home">
    <form>
      <label for="name">Name of Item</label>
      <input required type="text" name="name" id="name" v-model="name" />
      <input required type="date" v-model="date" />
      <button type="submit" @click.prevent="addThing">Add</button>
    </form>
    <div v-for="thing in sortedThings" :key="thing.id">
      <h3>{{ thing.name }}</h3>
      <p v-if="thing.date.seconds">
        Purchased {{ new Date(thing.date.seconds * 1000).toLocaleDateString() }}
      </p>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "home",
  data() {
    return {
      name: "",
      date: null
    };
  },
  computed: {
    ...mapGetters(["sortedThings"])
  },
  methods: {
    addThing() {
      const now = new Date(this.date);
      this.$store.dispatch("myModule/insert", {
        name: this.name,
        date: new Date(now.getTime() + now.getTimezoneOffset() * 60000)
      });
      this.name = "";
      this.date = null;
    }
  }
};
</script>
