<template>
  <div id="app">
    <div v-if="loggedIn">
      <div id="nav"><a @click="logout">Logout</a></div>
      <router-view />
    </div>
    <button v-else @click="login">Login</button>
  </div>
</template>

<script>
import * as firebase from "firebase";
import { mapGetters } from "vuex";

const provider = new firebase.auth.GoogleAuthProvider();

export default {
  name: "home",
  methods: {
    login() {
      firebase
        .auth()
        .signInWithPopup(provider)
        .then(function() {
          // This gives you a Google Access Token. You can use it to access the Google API.
          // var token = result.credential.accessToken;
          // The signed-in user info.
          // var user = result.user;
        })
        .catch(function() {
          // Handle Errors here.
          // var errorCode = error.code;
          // var errorMessage = error.message;
          // The email of the user's account used.
          // var email = error.email;
          // The firebase.auth.AuthCredential type that was used.
          // var credential = error.credential;
          // ...
        });
    },
    logout() {
      firebase
        .auth()
        .signOut()
        .then(function() {
          // Sign-out successful.
        })
        .catch(function(error) {
          // An error happened.
          console.log(error);
        });
    }
  },
  computed: {
    ...mapGetters({
      loggedIn: "myModule/signedIn"
    })
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
